<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="style.css" /> 
        <title> Raj Collection</title>
    </head>
    <body>
        <div class ="grid-container">
            <header class="header">
                <div class="brand">
                    <button onclick="openMenu()">
                        &#9776; 
                    </button>
                    <a href="index.html"> Raj Collection</a>
                </div>
                <div class="header-links">
                    <a href = "cart.html">Cart</a>
                    <a href="signin.html">Sign In</a>
                </div>
            </header>
            <aside class="sidebar"> 
                <h3>Shopping Categories</h3>
                <button class="sidebar-close-button" onclick="closeMenu()">x</button>
                <ul>
                    <li>
                        <a href="index.html">Shorts</a>
                    </li>
                    <li>
                        <a href="index.html">T-Shirts</a>
                    </li>
                </ul>

            </aside>
            <main class="main">
                <div class="content">
                    <ul class="products">
                        <li> 
                            <div class="product">
                                <img class="product-image" src="images/SleevlessT.jpeg" alt="product">
                                <div class="product-name"> 
                                    <a href="product.html">Slim Shirt</a>
                                </div>
                                <div class="product-brand">Jockey</div>
                                <div class="product-price"> Rs 650</div>
                                <div class="product-rating">4.5 Stars (10 Reviews)</div>
                            </div>
                        </li>

                        <li> 
                            <div class="product">
                                <img class="product-image" src="images/SleevlessT2.jpeg" alt="product">
                                <div class="product-name"> 
                                    <a href="product.html">Slim Shirt</a>
                                </div>
                                <div class="product-brand">Jockey</div>
                                <div class="product-price"> Rs 650</div>
                                <div class="product-rating">4.5 Stars (10 Reviews)</div>
                            </div>
                        </li>

                        <li> 
                            <div class="product">
                                <img class="product-image" src="images/Shorts.jpeg" alt="product">
                                <div class="product-name"> 
                                    <a href="product.html">Slim Shirt</a>
                                </div>
                                <div class="product-brand">Jockey</div>
                                <div class="product-price"> Rs 650</div>
                                <div class="product-rating">4.5 Stars (10 Reviews)</div>
                            </div>
                        </li>

                        <li> 
                            <div class="product">
                                <img class="product-image" src="images/StripedT.jpeg" alt="product">
                                <div class="product-name"> 
                                    <a href="product.html">Slim Shirt</a>
                                </div>
                                <div class="product-brand">Jockey</div>
                                <div class="product-price"> Rs 650</div>
                                <div class="product-rating">4.5 Stars (10 Reviews)</div>
                            </div>
                        </li>

                        <li> 
                            <div class="product">
                                <img class="product-image" src="images/T-Shirt1.jpeg" alt="product">
                                <div class="product-name"> 
                                    <a href="product.html">Slim Shirt</a>
                                </div>
                                <div class="product-brand">Jockey</div>
                                <div class="product-price"> Rs 650</div>
                                <div class="product-rating">4.5 Stars (10 Reviews)</div>
                            </div>
                        </li>

                        <li> 
                            <div class="product">
                                <img class="product-image" src="images/T Shirt2.jpeg" alt="product">
                                <div class="product-name"> 
                                    <a href="product.html">Slim Shirt</a>
                                </div>
                                <div class="product-brand">Jockey</div>
                                <div class="product-price"> Rs 650</div>
                                <div class="product-rating">4.5 Stars (10 Reviews)</div>
                            </div>
                        </li>

                        <li> 
                            <div class="product">
                                <img class="product-image" src="images/US88.jpeg" alt="product">
                                <div class="product-name"> 
                                    <a href="product.html">Slim Shirt</a>
                                </div>
                                <div class="product-brand">Jockey</div>
                                <div class="product-price"> Rs 650</div>
                                <div class="product-rating">4.5 Stars (10 Reviews)</div>
                            </div>
                        </li>
                    </ul>
                </div>
            </main>
            <footer class="footer">
                All rights reserved.
            </footer>
        </div>
        <script>
            function openMenu() {
                document.querySelector(".sidebar").classList.add("open");
            }
            function closeMenu() {

                document.querySelector(".sidebar").classList.remove("open");
            }

        </script>
    </body>
</html>